@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #010762;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #010762;
    text-decoration: none;
    text-shadow: -2px 0px 10px #010762;
}

a:hover {
    text-shadow: none;
    text-decoration: underline;
}

#container {
    width: 60%;
    margin: 100px auto;
    background-color: #eeeded;
}

#left {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    background-color: #eeeded;
}

#right {
    display: inline-block;
    width: 69.5%;
    background-color: #eeeded;
    border-left: #010762 5px solid;
}

#main {
    width: 101%;
    font-size: 30px;
    text-align: center;
    height: 500px;
    background-color: #010762;
    color: white;
}

#main img {
    border-radius: 50%;
    width: 80%;
    margin: 40px 0;
}

#contact {
    margin: 100px 0;
    border-bottom: #010762 5px solid;
    border-top: #010762 5px solid;
    height: 350px;
    font-size: 20px;
    padding: 50px;
}

#resume {
    font-size: 20px;
    height: 600px;
    padding: 40px 100px;
}

#objectif {
    border-bottom: #010762 5px solid;
    font-size: 25px;
    padding: 30px 100px;
    text-align: center;
    vertical-align: top;
    height: 300px;
}

#objectif p {
    padding: 50px;
}

#formation {
    font-size: 25px;
    border-bottom: #010762 5px solid;
    height: 500px;
    padding: 50px;
}

#formation h2 {
    text-align: center;
    margin-bottom: 20px;
}

.diplome h3 {
    text-align: center;
    margin: 15px;
}

#parcours {
    padding: 50px;
    font-size: 25px;
    height: 1350px;
}

#parcours h2 {
    text-align: center;
    margin: 30px 0;
}

.experience h3 {
    text-align: center;
    margin: 15px;
}

.experience p {
    margin: 30px;
}

h3.info {
    border-top: #010762 1px solid;
    padding-top: 20px;
}

.info {
    display: block;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}

#resume>div {
    margin: 70px 0;
}

#competences h2 {
    margin: 20px 0;
}

#langue h2 {
    margin: 20px 0;
}

#interet h2 {
    margin: 20px 0;
}

li {
    list-style-type: none;
    margin: 10px 0;
}

.progress {
    height: 25px;
    width: 80%;
    border: 1px solid #010762;
}

#css_prog {
    display: inline-block;
    color: white;
    width: 70%;
    background-color: #010762;
}

#html_prog {
    display: inline-block;
    color: white;
    width: 90%;
    background-color: #010762;
}

#js_prog {
    display: inline-block;
    color: white;
    width: 20%;
    background-color: #010762;
}

#com_prog {
    display: inline-block;
    color: white;
    width: 60%;
    background-color: #010762;
}

#gp_prog {
    display: inline-block;
    color: white;
    width: 90%;
    background-color: #010762;
}

#fr_prog {
    display: inline-block;
    color: white;
    width: 99%;
    background-color: #010762;
}

#en_prog {
    display: inline-block;
    color: white;
    width: 75%;
    background-color: #010762;
}